
extends ../../layouts/default.pug
include ../../mixins/play-add-playlist.pug

block main
    div(class="flex p-4 bg-gradient-to-b from-stone-500 to-blue-700 mt-4 rounded-lg ")
        div(class="w-[200px] h-[200px] overflow-hidden mr-4 shadow-xl")
            img(src=podcast.thumbnail alt="" class="object-contain w-full")
        .flex-1.border-grey-900.flex.flex-col.justify-center
            p podcast
            h2.text-2xl.my-1.font-semibold= podcast.title
            p.mt-2.text-xl= podcast.author

    div(class="flex mt-6 gap-4 items-center justify-end ")
        
        button(class="w-[30px] h-[30px] border-gray-400 rounded-full border border-2 text-sm text-center")
            <i class="fa-solid fa-arrow-down" style="color: #D3D3D3;"></i>
        button(class="w-[30px] h-[30px] border-gray-400 rounded-full border border-2 text-sm text-center")
            i(class="fa-solid fa-plus" style=`color: #D3D3D3;`)
        button(class="w-[30px] h-[30px] border-gray-400 rounded-full text-sm text-center")
            <i class="fa-solid fa-ellipsis" style="color: #D3D3D3;"></i>
        button(class="w-[44px] h-[44px] rounded-full text-center", style=`background-color: #4A148C;`)
            i(class="fa-solid fa-play", style=`color: #ffffff;`)
    div.mt-4
        div.flex.justify-between
            h2.text-2xl.font-semibold Espisode description
            button(class="px-4 py-2 rounded-[20px] bg-gray-900 border")
                a(href="#") See all espisode 
        //- Transcipthttps://res.cloudinary.com/dswmkjagw/image/upload/v1727878220/Screensh…
        // Assuming 'podcast' is available in your Pug template context
        .podcast
            p.mb-2 Author: #{podcast.author}
            p.mb-2 Views: #{podcast.views}
            p.mb-2 Likes: #{podcast.likes}
        
            // Use each line break for a new paragraph if transcript uses <br> tags for breaks
            p.text-xl.mb-2.mt-2 Transcript
            p.text-gray-500.text-md !{podcast.transcript}


        h2.text-xl.text-gray-500.mb-2 Go deeper with Big Think
        p.text-gray-500.text-md.flex.items-center
            <i class="fa-solid fa-caret-right mr-2" style="color: #D3D3D3;"></i> Become the member
        p.text-lg.mt-2.text-gray-500 Get exclusive access to full interviews, early access to new release. Big think merch and more. https:member.bigthink.com
        
        p.text-gray-500.text-md.flex.items-center.mt-4
            <i class="fa-solid fa-caret-right mr-2" style="color: #D3D3D3;"></i> Get Bigthink+ for bussiness
        p.text-lg.mt-2.text-gray-500 Get exclusive access to full interviews, early access to new release. Big think merch and more. https:member.bigthink.com
        
    

block detail
    h3.text-2xl.mb-4 Big think
    img(src="https://res.cloudinary.com/dswmkjagw/image/upload/v1727878220/Screenshot_from_2024-10-02_21-10-01_ywqpcf.png", alt="" class="w-full  aspect-video object-cover rounded-xl")
    div.flex.items-center.mt-4.mb-4
        div.flex-1
            p(class="text-lg font-semibold hover:underline line-clamp-1") Achieve Excellence by Being Unreasonable: Will Guidara's Bold Approach | Big Think+
            p.text-md.text-gray-500 Big Think
        button(class="w-[24px] h-[24px] ml-2 rounded-full border text-sm")
            i(class="fa-solid fa-plus")
    
    div.p-2.bg-gray-700.rounded-lg.py-3
        p.text-lg.mb-2 About the podcast
        p(class="line-clamp-3 text-sm text-gray-400") Our mission is make you smarter, faster. Listen to interview with the worlds biggest thinker in science, philosophy, bussiness and more. Bigthink is the leading...
    
    div.flex.justify-between.mt-4.mb-8
        div.flex
            div(class="w-[44px] h-[44px] overflow-hidden mr-4")
                img(src="https://res.cloudinary.com/dswmkjagw/image/upload/v1727851845/Screenshot_from_2024-10-02_13-50-27_xm5t8f.png", alt="" class="w-full object-contain")
            div
                p.text-md Big Think
                p.text-gray-500.text-sm bigthink
        button.rounded.border.px-4.rounded-xl
            p Follow
    div
        p.font-semibold.text-lg.mb-4 Discover more
        div(class="flex ")
            a(href="#" class="py-2 px-4 bg-gray-700 rounded-[20px] mr-2") Documentary 
            a(href="#" class="py-2 px-4 bg-gray-700 rounded-[20px]") Science 
